/*========================================*/
/*pane*/
/*========================================*/
.pane-login{

    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
    -fx-background-color: #FC3D44;
}
.panel-hijau{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #46CC59;
    -fx-background-color: #FFF;
    -fx-border-width: 3px;
}
.panel-oranye{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #FF9A51;
    -fx-background-color: #FFF;
    -fx-border-width: 3px;
}
.panel-merah{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #EE3030;
    -fx-background-color: #FFF;
    -fx-border-width: 3px;

}




/*========================================*/
/*label*/
/*========================================*/
.label-off{
    -fx-font-size: 16px;
}
.label-off:hover{
    -fx-text-fill: #46CC59;
    -fx-font-size: 16px;
}
.label-off SVGPath:hover{
    -fx-fill: #97E4A2;
}

.label-icon:hover {
    -fx-font-size: 36px;
    -fx-text-fill:#46CC59;
}





/*========================================*/
/*text field*/
/*========================================*/

.field-login {
    /*-fx-font-family: "Poppins";*/
    -fx-border-radius: 8px;
    -fx-background-color: transparent;
    -fx-border-color: B4B4B4;
    -fx-border-width: 3px;
    -fx-border-style: solid;
}

.field-login:focused{
    /*-fx-font-family: "Poppins";*/
    -fx-border-color: #ff5722;
    -fx-font-size: 18px;
}

.field-list {
    /*-fx-font-family: "Poppins";*/
    -fx-padding: 0 0 0 5;
    -fx-border-radius: 5px;
    -fx-background-color: #FFF;
    -fx-border-color: #B4B4B4;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
.field-list:focused{

    -fx-border-color: #ff5722;
    -fx-font-size: 14px;
}




/*========================================*/
/*button*/
/*========================================*/
.button-login{
    -fx-font-family: "Poppins";
    -fx-background-radius: 8px;
    -fx-background-color: #FF5722;
}

.button-hijau{
    -fx-font-size: 16;
    -fx-background-color: #46CC59;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}
.button-oranye{
    -fx-font-size: 16;
    -fx-background-color: #ff9a51;
        -fx-background-radius: 8px;
        -fx-border-radius: 8px;
}
.button-merah{
    -fx-font-size: 16;
    -fx-background-color: #EE3030;
        -fx-background-radius: 8px;
        -fx-border-radius: 8px;
}
.button-besar{
    -fx-font-size: 18;
    -fx-background-radius: 8;
    -fx-background-color: #46CC59;
}

/*HOVER*/
.button-login:hover{
    /*-fx-font-family: "Poppins";*/
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #FFAA8F;
}

.button-hijau:hover {
    -fx-font-size: 16;
    -fx-background-color: #97E4A2;
}
.button-oranye:hover{
    -fx-font-size: 16;
    -fx-background-color: #FF7A50;

}
.button-merah:hover{
    -fx-font-size: 16;
    -fx-background-color: #FE5858;


}
.button-besar:hover{
    -fx-font-size: 18;
    -fx-background-color: #97E4A2;
}

/*FOCUSED*/
.button-login:focused{

    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.button-hijau:focused {
    -fx-font-size: 16;
    -fx-text-fill: #FFF;
}
.button-oranye:focused{
    -fx-font-size: 16;
    -fx-text-fill: #FFF;
}
.button-merah:focused{
    -fx-font-size: 16;
    -fx-text-fill: #FFF;

}
.button-besar:focused{
    -fx-font-size: 18;
}


/*PRESSED*/

.button-hijau:pressed{
    -fx-font-size: 14;
    -fx-background-color: #FFF;
    -fx-text-fill: #46CC59;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #46CC59;
    -fx-border-width: 3;

}
.button-oranye:pressed{
    -fx-font-size: 14;
    -fx-background-color: #FFF;
    -fx-text-fill: #FF9A51;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #FF9A51;
    -fx-border-width: 3;
}
.button-merah:pressed{
     -fx-font-size: 14;
     -fx-background-color: #FFF;
     -fx-text-fill: #FE5858;
     -fx-background-radius: 8;
     -fx-border-radius: 8;
     -fx-border-color: #FE5858;
     -fx-border-width: 3;
 }
.button-besar:pressed{
    -fx-font-size: 18;
    -fx-background-color: #FFF;
    -fx-text-fill: #46CC59;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #46CC59;
    -fx-border-width: 3;
}


/*========================================*/
/*table/
/*========================================*/
.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: #FFB37D;
    -fx-border-radius: 8px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #303841;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}

.table-view .table-cell{
    -fx-text-fill: #303841;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FFF;
    -fx-text-alignment: CENTER;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #FFDEC7;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-column {
    -fx-alignment: CENTER;
}

.table-row-cell:selected {
    -fx-background-color: #FFB37D;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
.table-view .filler {
    -fx-background-color: transparent;
}
.table-row-cell{
    -fx-border-color: #B9B9B9;
    -fx-table-cell-border-color: #B9B9B9;
}


/*========================================*/
/*search-bar*/
/*========================================*/
.field-pencarian {
    /*-fx-font-family: "Poppins";*/
    -fx-border-radius: 0 8 8 0;
    -fx-background-color: #FFF;
    -fx-border-color: #46CC59;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-size: 16px;
}
.field-pencarian:focused{

    -fx-border-color: #46CC59;
    -fx-font-size: 16px;
}
.field-pencarian:hover{

    -fx-border-color: #46CC59;
    -fx-font-size: 16px;
}

/*========================================*/
/*ComboBox*/
/*========================================*/
.combo-box{
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-border-color: B4B4B4;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-font-size: 14px;
}
.combo-box:focused{
    -fx-border-color: #ff5722;
    -fx-font-size: 14px;
}
.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
    -fx-font-size: 14px;
}

.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    /*-fx-padding: 4 0 4 5;*/

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover
{

    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

/*========================================*/
/*Font*/
/*========================================*/

/*========================================*/
/*Chart*/
/*========================================*/
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-plot-background {

    -fx-border-color: Black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0;
    /*-fx-border-insets: 0 0 0 0;*/

}
.chart-area-symbol {
     -fx-background-color: #405DF933, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px; /* makes sure this remains circular */
    -fx-padding: 3px;

}
.chart-series-area-line {
    -fx-stroke: blue;
    -fx-stroke-width: 3px;
}
.default-color0.chart-series-area-fill {
    -fx-fill: #405DF933;

}

